body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
table{
    background-color: rgb(86, 171, 223);
    padding: 5;
    border: solid;
    border-color: rgb(86, 171, 223);
    border-radius: 0.5%;

}
.nums{
    border: white;
    border-color: black;
    background-color: #e0e0e0;
    width: 50;
    border-radius: 3px;
    box-shadow: gray 0px 2px;
    height:20;
    
}
.nums:active{
    background-color: rgb(116, 63, 177);
    color: white;
}
.sign{
    border: white;
    border-color: black;
    background-color: wheat;
    width: 50;
    border-radius: 3px;
    box-shadow: gray 0px 2px;
    height:20;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.cler{
    border: white;
    border-color: black;
    background-color: #e0e0e0;
    width: 50;
    border-radius: 3px;
    box-shadow: gray 0px 2px;
    height:20;
}
.cler:active{
    background-color: rgb(255, 157, 157);
    color: white;
}
input{
    background-color: rgb(120, 180, 180);
    border: 0;
    border-radius: 2%;
    border-style: solid;
    box-shadow:;
    border-radius: 3px;
}